<style>
  .fill-viewport {
    /*height: calc(100vh - 64px);*/
  }

  .flex {
    flex: 1 1 auto;
  }
</style>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      Navigation
    </mat-toolbar>
    <a routerLink="dashboard">Dashboard</a>
    <a routerLink="admin">Admin</a>
    <a routerLink="store">Store</a>
    <a routerLink="store/add">Add Item</a>
    <a routerLink="store/manage">Manage Items</a>
    <a routerLink="users">Users</a>
    <a routerLink="users/create">Add User</a>
    <a routerLink="dashboard">Dashboard</a>
    <a routerLink="dashboard">Dashboard</a>
    <a routerLink="dashboard">Dashboard</a>
    <button mat-button (click)="sidenav.close()">Close</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Inventory Manager</span>
      <!-- This fills the remaining space of the current row -->
      <span class="flex"></span>
      <span *ngIf="user" class="username">{{user.firstname.charAt(0)+'. '+user.lastname}}</span>
      <mat-menu #appMenu="matMenu">
        <a mat-menu-item routerLink="logout">Logout</a>
        <a mat-menu-item routerLink="help">Help</a>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <main class="fill-viewport">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>



