
<div class="row">
  <div class="col" *ngFor="let item of items">
    <mat-card>
      <div class="header">
        <img [src]="item.imageUrl" [alt]="item.description">
        <div class="title">
          <h3>{{item.name}}</h3>
        </div>
      </div>

      <div class="details">
        {{item.description}}
        <span class="available">{{item.availableStock}}</span>
      </div>
      <div class="footer">
        <button mat-raised-button color="primary" (click)="openItem(item)">Get Item</button>
      </div>
    </mat-card>
  </div>
</div>



