@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  height: 100vh;
}

body html {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
  }
}

.mat-card {
  padding: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  display: inline-block;
  flex-basis: 90%;
  flex-grow: 1;
}

@media screen and (min-width: 480px) {
  .col {
    display: inline-block;
    flex-basis: 40%;
    flex-grow: 1;
  }
}

@media screen and (min-width: 840px) {
  .col {
    display: inline-block;
    flex-basis: 30%;
    flex-grow: 1;
  }
}

mat-card {
  margin: 8px;
  padding: 12px;
}

.header img {
  width: calc(100% + 32px);
  height: auto;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  z-index: 3;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.header image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  display: inline-block;
  flex-basis: 90%;
  flex-grow: 1;
}

@media screen and (min-width: 480px) {
  .col {
    display: inline-block;
    flex-basis: 40%;
    flex-grow: 1;
  }
}

@media screen and (min-width: 840px) {
  .col {
    display: inline-block;
    flex-basis: 30%;
    flex-grow: 1;
  }
}

mat-card {
  margin: 8px;
  padding: 12px;
}

.header img {
  width: calc(100% + 32px);
  height: auto;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  z-index: 3;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.header image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.dash-icon {
  &mat-icon {
    @include md-icon-size(48px);
  }
}

